{% extends "page.html" %}

<!-- Title -->
{% block title %}Quiz Results{% endblock %}

<!-- Content -->
{% block content %}
  <div class="row gy-4 justify-content-center text-center">
    <h1>Quiz Results</h1>

    <div class="card px-0">
      <div class="card-body row justify-content-center text-center">
        <h5 class="col-auto">Questions Answered: {{quiz_score.total_questions}}</h5>
        <h5 class="col-auto">Correctly Answered: {{quiz_score.correct_questions}}</h5>
        <h5 class="col-auto">Percentage Correct: {{quiz_score.get_score}}&#37;</h5>
        <h5 class="col-auto">Submission Time: {{quiz_score.time_of_submission}}</h5>
      </div>
    </div>

    <div class="card px-0">
      <div class="card-body row align-items-center">
          {% if quiz_score.get_score >= 70 %}
            <h1 class="col">Great job you passed, why not try your hand at some other questions</h1>
            <div class="col">{% include 'partials/greggor_logo.html' with height=300 greggor_type="party" %}</div>
          {% elif quiz_score.get_score < 40 %}
            <h1 class="col">You failed, take a chance to study the answers and try again</h1>
            <div class="col">{% include 'partials/greggor_logo.html' with height=300 greggor_type="sad" %}</div>
          {% else %}
            <h1 class="col">Well done you passed, study the answers and try again to get an even higher score</h1>
            <div class="col">{% include 'partials/greggor_logo.html' with height=300 greggor_type="normal" %}</div>
          {% endif %}
      </div>
    </div>

    <div class="row mt-3 g-2">
      {% for question in quiz_score.quiz_set.questions.all %}
        {%include 'partials/quiz/quiz_results_card.html' with question=question %}
      {% endfor %}
    </div>

    <div class="row mt-3">
      <div class="row gy-1 justify-content-center">
        <a href="{% url 'quiz_questions' pk=quiz_score.quiz_set.id %}" class="btn btn-lg btn-outline-primary col-auto">Retake Quiz</a>
      </div>
      <div class="row gy-1 justify-content-center">
        <a href="{% url 'quiz' %}" class="btn btn-lg btn-primary col-auto">Return to Quiz Page</a>
      </div>
    </div>
  </div>
{% endblock %}
