{% extends "page.html" %}

<!-- Title -->
{% block title %}Quiz{% endblock %}

<!-- Content -->
{% block content %}
  <div class="text-center">
    <h1>Quiz</h1>

    <br>

    {% include 'partials/quiz/quiz_about_info.html' with text_style="text-muted"%}

    <br><br>

    <div class="card">
        <div class="card-body row justify-content-center">
            <h3 class="card-title">How many questions do you want?</h3>
            <div>
                {% for quiz_total in quiz_total_choices %}
                    {% if quiz_total == question_total %}
                        <a href="{% url 'quiz_with_params' question_total=quiz_total sort_type=score_order_type %}" class="btn btn-secondary">{{quiz_total}}</a>
                    {% else %}
                        <a href="{% url 'quiz_with_params' question_total=quiz_total sort_type=score_order_type %}" class="btn btn-outline-secondary">{{quiz_total}}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-auto mt-4">
                <a href="{% url 'quiz_ready' question_total=question_total %}" class="btn btn-lg btn-primary col-12">Generate Quiz</a>
            </div>
        </div>
    </div>

    <br><br>

    <form method="POST" class="col-12 text-center">
        {% csrf_token %}
        <h3 class="col-md-auto">Scores</h3>
        <div class="row justify-content-center g-5">
            <div class="col-auto">
            {% for score_list_order_type in score_list_order_types %}
                {% if score_order_type == score_list_order_type %}
                    <a href="{% url 'quiz_with_params' question_total=question_total sort_type=score_list_order_type %}" class="btn btn-sm btn-secondary">{{score_list_order_type.capitalize}}</a>
                {% else %}
                    <a href="{% url 'quiz_with_params' question_total=question_total sort_type=score_list_order_type %}" class="btn btn-sm btn-outline-secondary">{{score_list_order_type.capitalize}}</a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </form>
    
    <br>

    {% if quiz_scores %}
        {% if score_order_type == score_list_order_types.HIGHEST %}
            <h4>Highest</h4>
        {% elif score_order_type == score_list_order_types.RECENT %}
            <h4>Recent</h4>
        {% endif %}
        {% include 'partials/quiz/quiz_scores_table.html'  with quiz_scores=quiz_scores %}
    {% else %}
        {% include "partials/dashboard/no_content.html" with content_type_plural="quiz results" %}
    {% endif %}
  </div>
{% endblock %}
