{% extends "page.html" %}

<!-- Title -->
{% block title %}Start Quiz{% endblock %}

<!-- Content -->
{% block content %}
  <div class="text-center">
    <h1>Start Quiz</h1>

    <br>

    {% include 'partials/quiz/quiz_about_info.html' %}

    <br><br>
    <div class="row">
      <div class="row gy-1 justify-content-center">
          <a href="{% url 'quiz_questions' pk=quiz_set.id %}" class="btn btn-lg btn-primary col-auto">Start Quiz</a>
      <div class="row gy-1 justify-content-center">
          <a href="{% url 'quiz' %}" class="btn btn btn-outline-danger col-auto">Leave Quiz</a>
      </div>
    </div>
  </div>
{% endblock %}
