{% extends "page.html" %}

<!-- Title -->
{% block title %}Start Quiz{% endblock %}

<!-- Content -->
{% block content %}
  <div align="center">
    <h1>Start Quiz</h1>

    <br>

    {% include 'partials/quiz/quiz_about_info.html' %}

    <br><br>

    <div class="container-fluid row gy-3">
        <a href="{% url 'quiz_questions' pk=quiz_set.id %}" class="btn btn-primary col-12">Start Quiz</a>
        <a href="{% url 'quiz' %}" class="btn btn-danger col-12">Leave Quiz</a>
    </div>
  </div>
{% endblock %}
