{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{% static 'CSS/custom_bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'CSS/style.css'%}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    <script>
        function showAlert(name) {
          confirm("Are you sure you want to delete this " + name + "?");
        }
    </script>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
  crossorigin="anonymous"></script>

  {% include 'partials/navbar/navbar.html' %}
  {% include 'partials/messages.html' with messages=messages %}
  <div class="container-fluid">{% block content %}{% endblock %}</div>
  <br>

</body>
</html>
