{% load static %}

<head>
  <script src="{% static 'javascript/tooltip.js' %}"></script>
</head>

<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-striped text-center align-content-center" >
      <thead class = "table-primary">
        <tr>
          <th scope="col" class="col-1 text-center">Position</th>
          <th scope="col" class="col-4 text-center">Name</th>
          <th scope="col" class="col-4 text-center">Username</th>
          <th scope="col" class="col-3 text-center">
            Completed Targets
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="For every income target which is completed you will gain one point. For every expense target completed you will lose a point. For every income target nearly completed (this is when it >= 75% completed and < 100% completed) you will gain half a point. For every expense target nearly completed you will lose half a point.">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
              </svg>
            </button>
          </th>
        </tr>
      </thead>
      {% for tuple in members %}
        {% if tuple.2 == "1st" %}
          <tr class="text-center bg-gold">
        {% elif tuple.2 == "2nd" %}
          <tr class="text-center bg-silver">
        {% elif tuple.2 == "3rd" %}
          <tr class="text-center bg-bronze">
        {% else %}
          <tr class="text-center">
        {% endif %}
          <td>{{ tuple.2 }}</td>
          <td>{{ tuple.0.full_name }} </td>
          <td>{{ tuple.0.username }} </td>
          <td>{{ tuple.1 }}</td>
        </tr>
      {% endfor %}
    </table>
    {%include 'partials/pagination.html'  with page_obj=members %}
  </div>
</div>
