<div class="row">
  <div class="container container-scrollableX">
    <table class="table table-bordered table-striped text-center" >
      <thead class = "table-primary">
        <tr>
          <th scope="col" class="col-1 text-center">Position</th>
          <th scope="col" class="col-4 text-center">Name</th>
          <th scope="col" class="col-4 text-center">Username</th>
          <th scope="col" class="col-3 text-center">Completed Targets</th>
        </tr>
      </thead>
      {% for tuple in members %}
        {% if tuple.2 == "1st" %}
          <tr class="text-center bg-gold">
        {% elif tuple.2 == "2nd" %}
          <tr class="text-center bg-silver">
        {% elif tuple.2 == "3rd" %}
          <tr class="text-center bg-bronze">
        {% else %}
          <tr class="text-center">
        {% endif %}
          <td>{{ tuple.2 }}</td>
          <td>{{ tuple.0.full_name }} </td>
          <td>{{ tuple.0.username }} </td>
          <td>{{ tuple.1 }}</td>
        </tr>
      {% endfor %}
    </table>
    {%include 'partials/pagination.html'  with page_obj=members %}
  </div>
</div>
