{%for group in groups %}
<div class="col-sm-4 py-4">
    <div class="card justify-content-center h-100">
        <div class="card-header pb-1 text-center">
            <h4 class="card-title">{{ group.name.title }}</h5>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush text-left"></ul>
                <li class="list-group-item"><strong>Owner's email: </strong> {{ group.owner_email }}</li>
                <li class="list-group-item"><strong>Description: </strong> {{ group.description }}</li>
            </ul>
        </div>
        <div class="card-footer text-muted justify-content-center text-center">
            <a href="{% url 'individual_group_redirect' pk=group.id %}" class="btn btn-outline-primary">View</a>
        </div>
    </div>
  </div>
{% endfor %}
