{% extends "page.html" %}

<!-- Title -->
{% block title %}Sign up{% endblock %}

<!-- Content -->
{% block content %}
    <h1>Password Reset</h1>
    <p>Forgotten your password? <br>Enter your email address below, and we'll email instructions for setting a new one</p>
    <form action='{% url 'password_reset' %}' method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {% include 'partials/form.html' with form=form %}
    <input type="submit" value="Reset my Password" class="btn btn-primary">
    </form>
{% endblock %}
