<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard' %}">
        <p class="text-white h6">Dashboard</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'view_accounts' %}">
        <p class="text-white h6">Accounts</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'view_transactions_redirect' %}">
        <p class="text-white h6">Transactions</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'categories_list_redirect' %}">
        <p class="text-white h6">Categories</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'all_groups_redirect' %}">
        <p class="text-white h6">Groups</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quiz' %}">
        <p class="text-white h6">Quizzes</p>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <span class="bi bi-person-fill"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
      </ul>
    </li>
  </ul>
</div>
