{% load static %}

<nav class="navbar navbar-expand-lg navbar-primary bg-primary mb-3">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <div class="d-inline-block align-top">
        {% include 'partials/greggor_logo.html' with height=30 %}
      </div>
      <div class="d-inline-block align-top">
        <p class="text-white h4">GFC</p>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
      {% include 'partials/navbar/logged_in_menu.html' %}
    {% else %}
      {% include 'partials/navbar/menu.html' %}
    {% endif %}
  </div>
</nav>
