{% extends "page.html" %}
{% load static %}

<!-- Title -->
{% block title %}Recurring Transaction Form{% endblock %}

<!-- Content -->
{% block content %}
  <head>
    <script src="{% static 'javascript/autocomplete.js' %}"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
      <script>
        autocomplete('#id_sender_account');
        autocomplete('#id_receiver_account');
    </script>
  </head>

    <h1>Recurring Transaction</h1>

    {% if edit %}
      <form action='{% url 'edit_recurring_transaction' pk %}' method="post" enctype='multipart/form-data'>
    {% else %}
      <form action='{% url 'add_recurring_transaction'%}' method="post" enctype='multipart/form-data'>
    {% endif %}
      {% csrf_token %}

      {% include 'partials/form.html' with form=form %}
      <button type="submit" name="submit_type" value="Submit" class="btn btn-primary">
    {% if edit %}
        Edit Recurring Transaction
        {% else %}
            Create Recurring Transaction
        {% endif %}
    </form>
{% endblock %}
