{% extends "page.html" %}

<!-- Title -->
{% block title %}Add Transaction{% endblock %}

<!-- Content -->
{% block content %}
    <h1>Add Transaction</h1>
    <form action='{% url 'add_transaction' %}' method="post">
      {% csrf_token %}
      {% include 'partials/form.html' with form=form %}
      {# <input type='text' list='senders' placeholder="Sender" class="form-control"> #}
      {# <datalist id = 'senders'> #}
        {# {% for sender in senders %} #}
          {# <option value={{sender.title}}></option> #}
        {# {% endfor %} #}
      {# </datalist> #}
    <input type="submit" value="Add Transaction" class="btn btn-primary">
{% endblock %}
