{% extends "page.html" %}

<!-- Title -->
{% block title %}Add Transaction{% endblock %}

<!-- Content -->
{% block content %}
    <h1>Add Transaction</h1>
    {% if edit %}
      <form action='{% url 'edit_transaction' pk %}' method="post" enctype='multipart/form-data'>
    {% else %}
      <form action='{% url 'add_transaction'%}' method="post" enctype='multipart/form-data'>
    {% endif %}
      {% csrf_token %}
      {% include 'partials/form.html' with form=form %}
      {# <input type="text" id = "title" name= "title" class="form-control"> #}
      <label for="sender_account">Sender Account:</label>
      <select name="sender_account" id="sender_account" >
        {% for account in sent_or_received_accounts %}
          <option value={{account.id}}>{{account.name}}</option>
        {% endfor %}
      </select>
    <input type="submit" value="Add Transaction" class="btn btn-primary">
{% endblock %}
