{% extends "page.html" %}

<!-- Title -->
{% block title %}View Categories{% endblock %}

<!-- Content -->
{% block content %}
  <div>
    <div align="center" class="w-50 container-fluid">
      <h1>Categories</h1>
      <a class="btn btn-primary" href="{% url 'create_category' %}">Add New</a> <a class="btn btn-primary" href="{% url 'categories_list' search_name='all'%}">View All</a>
      <br/><br>
      {% include 'partials/search_bar.html' %}
    </div>
    <br>
    {%if categories%}
    <div class="row">
          {%for category in categories %}
          <div class="col-sm-4 py-4">
              <div class="card">
                  <!-- <div class="card-header">
                  Category {{category.id}}
                  </div> -->
                  <div class="card-body">
                  <h5 class="card-title">{{ category.name.title }}</h5>
                  <p class="card-text">{{ category.description }}</p>


                  </div>
                  <div class="card-footer text-muted justify-content-center">
                      <a href="{% url 'individual_category' pk=category.id filter_type='all'%}" class="btn btn-primary justify-content-center">View </a>
                    </div>
              </div>
          </div>
          {% endfor %}
      </div>
      {% else %}
              <h2 class="text-center"> You have no categories yet</h2>
      {% endif %}
  </div>
{% endblock %}
