{% extends "page.html" %}

<!-- Title -->
{% block title %}Monetary Accounts Form{% endblock %}

<!-- Content -->
{% block content %}
    <h1 align="center">Categories</h1>
    <div class="container input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>
    <br>
    {%if categories%}
    <div class="row">
        {%for category in categories %}
        <div class="col-4 py-4">
            <div class="card">
                <div class="card-header">
                Category {{category.id}}
                </div>
                <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
                <p class="card-text">{{ category.description }}</p>
                
                
                <!-- </div>
                <div class="card-footer text-muted"> -->
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
            <h2 style="text-align: center;"> You have no categories yet</h2>
    {% endif %}
{% endblock %}
