{% extends "page.html" %}

<!-- Title -->
{% block title %}User Group Form{% endblock %}

<!-- Content -->
{% block content %}
    <h1>User Group Form</h1>
    {% if form_toggle %}
        <form action='{% url 'create_user_group' %}' method="post" enctype='multipart/form-data'>
    {% else %}
        <form action='{% url 'edit_user_group' pk %}' method="post" enctype='multipart/form-data'>
    {% endif %}

    {% csrf_token %}
    {% include 'partials/form.html' with form=form %}
    <input type="submit" value="Submit" class="btn btn-primary">
    </form>
{% endblock %}