{% extends "page.html" %}

<!-- Title -->
{% block title %}Dashboard{% endblock %}

<!-- Content -->
{% block content %}
  <div class="container p-0">
    <div class="row g-3 justify-content-center">
      <div class="col-lg-5 col-12">
        <div class="row g-3">
          <div class="col-12">
            {% include 'partials/dashboard/welcome.html'%}
          </div>
          <div class="col-12"> 
            {% include 'partials/dashboard/income_outcome_graph_card.html' with money_in=money_in money_out=money_out%}
          </div>
          <div class="col-12">
            {% include 'partials/dashboard/recent-transactions.html'%}
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-12">
        <div class="row g-3">
          <div class="col-12">
            {% include 'partials/dashboard/account_projection_graph_card.html' with savings_accounts=savings_accounts%}
          </div>
          <div class="col-12">
            {% include 'partials/dashboard/accounts.html'%}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}