{% extends 'page.html' %}
{% block title %}View transactions{% endblock %}

{% block content %}
<div class="container">
  <div class="row content">
    <div class="col-xs-12 col-lg-6 col-xl-6">
        <h1>View Recieved Transactions</h1>
        {%include 'partials/list_transactions.html' with transactions=recieved_transactions%}

    </div>
    <div class="col-xs-12 col-lg-6 col-xl-6">
        <div class = "container">
            <div class = "row ">
              <div class = "col-12 ">
              <h1>View Sent Transactions</h1>
              
              {%include 'partials/list_transactions.html' with transactions=sent_transactions%}
            </div>
           </div>
          </div>
          
    </div>
  </div>
</div>
{% endblock %}
