{% extends 'page.html' %}
{% block title %}View transactions{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Lessons</h1>
  
        <div>
          <form method="post">
            {% csrf_token %}
              <input type = "submit" name = "sent" value = "View Sent Transactions" class= "btn btn-primary">
              <input type = "submit" name = "recieved" value = "View Recieved Transactions"" class= "btn btn-primary">
              <input type = "submit" name = "all" value = "View Transactions" class= "btn btn-primary">
          </form>
        </div>
          &nbsp;
  
  
        <table class="table">
          <thead>
            <tr>
                <th scope="col">Transaction ID</th>
                <th scope="col">Transaction Name</th>
                <th scope="col">Value</th>
                <th scope="col">View More</th>
            </tr>
          </thead>
          {% for transaction in transactions %}
  
            <tr>
              <td>{{ transaction.id}}</td>
              <td>{{ transaction.title }} </td>
              
              <td>{{ transaction.amount }} </td>
              <td>{{ transaction.sender_account.id }} </td>
              <td>{{ transaction.receiver_account.id }} </td>
    
                  <td> <input type = "submit" name = "view" value = "View More" class= "btn btn-primary"></td>
            
              </a></td>
  
            </tr>
          </form>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
