{% extends "page.html" %}

<!-- Title -->
{% block title %}Home{% endblock %}

<!-- Content -->
{% block content %}
<div class="d-flex justify-content-center text-center">
<div>
    <h1>Welcome to the Greggor Financial Companion</h1>

    <br>

    {% if logo_types %}
    <h2>Meet Greggor</h2>
        <div id="greggor_carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
                {% for type in logo_types %}
                    {% if type == logo_types.0 %}
                    <div class="carousel-item card bg-light active">
                    {% else %}
                    <div class="carousel-item card bg-light">
                    {% endif %}
                        {% include 'partials/greggor_logo.html' with width=300 greggor_type=type %}
                        <br>
                    </div>
                {% endfor %}
            </div>
            </button>
        </div>
    <br>
    <br>
    {% endif %}

    <h4>About</h4>
    <div class="card border-0 bg-primary">
        <div class="card-header d-grid">
            <button class="btn btn-primary pb-0" type="button" data-bs-toggle="collapse" data-bs-target="#greggor_info" aria-expanded="true" aria-controls="greggor_info">
                <h4>&#x21D5;</h4>
            </button>
        </div>

        <div class="collapse" id="greggor_info">
            <br><br>
            <div class="row justify-content-center">
                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>Greggor will be you guide throughout this application</h5>
                    </div>
                </div>
                <div class="col-md-5 col-0"></div>

                <div class="col-md-5 col-0"></div>
                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>He'll be around to help you manage your spending and saving</h5>
                    </div>
                </div>

                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>You can always find him on the top hand corner of the page</h5>
                    </div>
                </div>
                <div class="col-md-5 col-0"></div>

                <div class="col-md-5 col-0"></div>
                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>He will change mood depending on how you interact with the site</h5>
                    </div>
                </div>

                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>This includes the date, time and how well you manage your financial accounts</h5>
                    </div>
                </div>
                <div class="col-md-5 col-0"></div>

                <div class="col-md-5 col-0"></div>
                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>To keep him happy, make sure to keep your financial life in order</h5>
                    </div>
                </div>

                <div class="col-12"></div>
                <div class="col-12"></div>

                <div class="col-md-10 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>Your goal should be to make sure he doesn't get upset.</h5>
                    </div>
                </div>
            </div>


            <br><br>
        </div>
    </div>

    <br>
    <br>
    <br>

    <h4>Features</h4>
    <div class="card border-0 bg-primary">
        <div class="card-header d-grid">
            <button class="btn btn-primary pb-0" type="button" data-bs-toggle="collapse" data-bs-target="#greggor_features" aria-expanded="true" aria-controls="greggor_features">
                <h4>&#x21D5;</h4>
            </button>
        </div>

        <div class="collapse" id="greggor_features">
            <br><br>
            <div class="row justify-content-center">
                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>This is your guide to the features our product provides.</h5>
                    </div>
                </div>
                <div class="col-md-5 col-0"></div>

                <div class="col-md-5 col-0"></div>
                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>Upon creating an account and logging in you will be met with a dashboard which will give you a brief overview your
                        accounts and transactions. If you have set up any bank accounts with an interest rate you will be able to view a graph of your saving
                      projections.</h5>
                    </div>
                </div>

                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>At the top of the page you will see the navigation bar. This allows you to access all of the features of the website.
                        Here is a description of each of these items: </h5>
                    </div>
                </div>
                <div class="col-md-5 col-0"></div>

                <div class="col-md-5 col-0"></div>
                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>Accounts, this will take you to a page where you are able to view all your different accounts. You are able to view further
                          information regarding each account, add new accounts and delete any existing accounts</h5>
                    </div>
                </div>

                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>Transactions, the user is able to view their transactions. The user will see a table display all their
                        transactions. They can filter these to see all sent or all receiving transactions. The user is also able to record new transactions.
                        Users can also view any subscriptions or standing order they have setup to track by clicking the subscriptions dropdown options of Transactions.
                        Again users are able to add a new standing order or subscription.</h5>
                    </div>
                </div>
                <div class="col-md-5 col-0"></div>

                <div class="col-md-5 col-0"></div>
                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>Categories, users can view all the categories they have created. These allow the user to log transactions of a particular type.
                        Users are able to view more information about each category or delete any existing one. When view a category the user will see
                        information regarding the category, any targets created for the target and any transactions linked to that category.</h5>
                    </div>
                </div>

                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>Groups, This is where users can create or join groups in order to compete with other in making you stay within spending targets and complete
                        incoming transactions related targets. Owners of a group manage the group in terms of its members and is able to transfer their ownership
                        if they so wish. Each group will also have a leaderboard where users can view their position amongst their fellow members.</h5>
                    </div>
                </div>
                <div class="col-md-5 col-0"></div>

                <div class="col-md-5 col-0"></div>
                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>Quiz, Users can take a quiz which will help them better their financial knowledge. They are able to take this quiz any number
                        of times as well as their is no time limit for a quiz. The users previous results will be displayed so the users can track their progress.
                        </h5>
                    </div>
                </div>

                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>Targets, There are three different types of targets users are to track. Account targets, category targets and user targets. Users will
                        get notifications on appropriate pages to inform the users if they are nearing completion of these targets.
                        There is also a page where the user can view all their targets.</h5>
                    </div>
                </div>
                <div class="col-md-5 col-0"></div>

                <div class="col-md-5 col-0"></div>
                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>Spending Summary, this is where the user will be able to keep track and view all of their progress
                        regarding their spending. This page will include show different graphs show the user's spending</h5>
                    </div>
                </div>

                <div class="col-md-6 col-10 card border-0 my-3">
                    <div class="card-body">
                        <h5>Finally Merch, anyone is welcome to purchase some products which include our financial companion
                        Greggor if they would like to on our Etsy shop.</h5>
                    </div>
                </div>
                <div class="col-md-5 col-0"></div>



            </div>


            <br><br>
        </div>
    </div>

    <br>
    <br>
    <br>

    <h4>Get Started Now</h4>
    <br>
    <div class="row justify-content-center g-4">
        <div class="col-md-4 col-sm-8">
            <div class="card border-dark bg-light">
                <div class="card-body">
                    <h5 class="card-title">New User?</h5>
                    <p class="card-text">
                        If you're a new user, go ahead and make a new account via the sign up page to get started
                    </p>
                    <a href='{% url 'sign_up' %}' class="btn btn-md btn-outline-primary">Sign up</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-8">
            <div class="card border-dark bg-light">
                <div class="card-body">
                    <h5 class="card-title">Existing User?</h5>
                    <p class="card-text">
                        If you already have an account, you can continue to access it like normal after logging
                    </p>
                    <a href='{% url 'log_in' %}' class="btn btn-md btn-outline-secondary">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
