{% extends "page.html" %}

<!-- Title -->
{% block title %}Account{% endblock %}

<!-- Content -->
{% block content %}



<div class="card py-3 px-4 bg-primary">
    <div class="row gy-3">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h1 class="text-white">Account Name: {{account.name.title}}</h1>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-start justify-content-md-end">
                    <a href="{% url 'edit_monetary_account' pk=account.id %}" class="btn btn-success px-3 mr-2 py-1 mb-md-4">Edit</a>
                    <a href="{% url 'delete_monetary_account' pk=account.id %}" class="btn btn-danger px-3 mx-2 py-1 mb-md-4">Delete</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="" alt="">

                            <div class="card-body">

                                <p class="card-text">
                                    <p class="">Description: {{account.description}}</p>
                                    <p class="">Balance: {{account.currency.upper}} {{account.balance}}</p>
                                    &nbsp;
                                </p>

                            </div>
                        </div>
                    </div>
                    {% if account.bank_name %}
                    <div class="col-lg-6 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="" alt="">

                            <div class="card-body">

                                <p class="card-text">
                                    <p class="">Bank Name: {{account.bank_name.title}}</p>
                                    <p class="">Sort Code: {{account.sort_code}}</p>
                                    <p class="">Account Number: {{account.account_number}}</p>
                                    <p class="">IBAN: {{account.iban}}</p>
                                    <p class="">Interest Rate: {{account.interest_rate}}&#37;</p>
                                </p>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12">
            {%include 'partials/target.html' with targets=account_targets edit_url='edit_account_target' delete_url='delete_account_target' %}
        </div>
    </div>
</div>
&nbsp;

{%include 'partials/transaction_table.html'  with transactions=transactions redirect_name="individual_account" pk=account.id %}
{% endblock %}
