{% extends "partials/view_models/view_model.html" %}

{% block object_name %}{{group.name.title}}{% endblock %}
{% block model_name %}Group{% endblock %}

{% block page_header_model %}Group{% endblock %}
{% block page_header_name %}{{group.name.title}}{% endblock %}

{% block card_title %}Group Information:{% endblock %}

{% block edit_delete_buttons %}
  {% if is_owner %}
    {% url 'edit_user_group' pk=group.id as edit_group %}
    {% url 'delete_user_group' pk=group.id as delete_group %}
    {% include "partials/view_models/edit_and_delete_models_buttons.html" with edit_URL=edit_group delete_URL=delete_group model_name="group"%}
  {% endif %}
{% endblock %}

{% block confirmation_model_name %}transaction{% endblock %}

{% block table_content %}
  <li class="list-group-item"><strong>Join code: </strong> {{group.invite_code}}</li>
  <li class="list-group-item"><strong>Description: </strong> {{group.description}}</li>
  <li class="list-group-item"><strong>Number of members: </strong> {{count}}</li>
{% endblock %}

{% block table_footer %}
  If you have any questions regarding the group please contact the owner at: <strong>{{group.owner_email}}</strong>
{% endblock %}

{% block additional_items %}{% include "partials/view_models/model_photo.html" with picture=group.group_picture name=group.name.title%}{% endblock %}

{% block view_model_objects_URL %}{% url 'all_groups_redirect' %}{% endblock %}
{% block view_model_objects_text %}View All Groups{% endblock %}

{% block further_content %}
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="card">
          <div class="card-body">
            {% if leaderboard %}
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-8 mt-1">
                    <div class="card-title">
                      <h4>Leaderboard:</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="card-text">
                    <p>
                      This leaderboard ranks you based on the number of targets that you have completed.
                      Looking forward to see who will be taking the number spot. Good luck to you all.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% include 'partials/groups/completed_leaderboard.html' with members=members completed=completed %}
          {% else %}
            {% if is_owner %}
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-8 mt-1">
                    <div class="card-title">
                      <h4>Members:</h4>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-3 d-flex justify-content-start justify-content-md-end">
                    <form action='{% url 'add_user_to_user_group' group_pk=group.id %}' method="post" class="input-group  d-flex justify-content-center">
                      {% csrf_token %}
                      {{ add_user_form }}
                      <input type="submit" value="Add Member" class="btn btn-primary">
                    </form>
                  </div>
                </div>
              </div>
              {% include 'partials/groups/owners_members_table.html' with members=members owners_email=owners_email %}
            {% else %}
              <div class="col-12 col-md-8">
                <div class="card-title">
                  <h4>Members:</h4>
                </div>
              </div>
              {% include 'partials/groups/users_members_table.html' with members=members %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
