{% extends "partials/view_models/view_model.html" %}
{% load accounts %}

{% block object_name %}{{account.name}}{% endblock %}
{% block model_name %}Account{% endblock %}

{% block page_header_model %}Account{% endblock %}
{% block page_header_name %}{{account.name}}{% endblock %}

{% block card_title %}Account Information:{% endblock %}

{% block edit_delete_buttons %}
    {% with account_type=account|get_account_type %}
      {%if account_type != "regular"%}
        {% url 'create_account_target' pk=account.id as add_target %}
      {% endif %}
    {% url 'edit_monetary_account' pk=account.id as edit_account %}
    {% url 'delete_monetary_account' pk=account.id as delete_account %}
    {% include "partials/view_models/edit_and_delete_models_buttons.html" with add_target_URL=add_target edit_URL=edit_account delete_URL=delete_account model_name="account"%}
  {% endwith %}
{% endblock %}

{% block confirmation_model_name %}account{% endblock %}

{% block table_content %}
    {% if account.description %}
        <li class="list-group-item"><strong>Description: </strong> {{account.description}}</li>
    {% endif %}
        <li class="list-group-item"><strong>Balance: </strong> {{account.currency.upper}} {{account.balance}}</li>
    {% if account.bank_name %}
        <li class="list-group-item"><strong>Bank Name: </strong> {{account.bank_name}}</li>
    {% endif %}
    {% if account.sort_code %}
        <li class="list-group-item"><strong>Sort Code: </strong> {{account.sort_code}}</li>
    {% endif %}
    {% if account.account_number %}
        <li class="list-group-item"><strong>Account Number: </strong> {{account.account_number}}</li>
    {% endif %}
    {% if account.iban %}
        <li class="list-group-item"><strong>IBAN: </strong> {{account.iban}}</li>
    {% endif %}
    {% if account.interest_rate %}
        <li class="list-group-item"><strong>Interest Rate: </strong> {{account.interest_rate}}</li>
    {% endif %}
{% endblock %}

{% block additional_items %}
    {% include 'partials/target.html' with targets=account_targets edit_url='edit_account_target' delete_url='delete_account_target' %}
{% endblock %}

{% block view_model_objects_URL %}{% url 'view_accounts' %}{% endblock %}
{% block view_model_objects_text %}View All Accounts{% endblock %}

{% block further_content %}
    {% include 'partials/transaction_table.html'  with transactions=transactions redirect_name="individual_account" pk=account.id %}
{% endblock %}
