{% extends "partials/view_models/view_model.html" %}

{% block object_name %}{{category.name}}{% endblock %}
{% block model_name %}Category{% endblock %}

{% block page_header_model %}Category{% endblock %}
{% block page_header_name %}{{category.name}}{% endblock %}

{% block card_title %}Category Information:{% endblock %}

{% block edit_delete_buttons %}
    {% url 'create_category_target' pk=category.id as add_target %}
    {% url 'edit_category' pk=category.id as edit_category %}
    {% url 'delete_category' pk=category.id as delete_category %}
    {% include "partials/view_models/edit_and_delete_models_buttons.html" with add_target_URL=add_target edit_URL=edit_category delete_URL=delete_category model_name="category"%}
{% endblock %}

{% block confirmation_model_name %}category{% endblock %}

{% block table_content %}
    {% if category.description %}
        <li class="list-group-item"><strong>Description: </strong> {{category.description}}</li>
    {% endif %}
{% endblock %}

{% block additional_items %}
    {% include 'partials/target.html' with targets=category_targets edit_url='edit_category_target' delete_url='delete_category_target' %}
{% endblock %}

{% block view_model_objects_URL %}{% url 'all_groups_redirect' %}{% endblock %}
{% block view_model_objects_text %}Go To Dashboard{% endblock %}

{% block further_content %}
    {% include 'partials/transaction_table.html' with transactions=transactions redirect_name="individual_category" pk=category.id %}
{% endblock %}


