{% extends 'page.html' %}
{% block title %}View Targets{% endblock %}

{% block content %}
  <div class="text-center">
    <h1>Targets</h1>
    <div class="col-12">
      <a class="btn btn-primary mb-3" href="{% url 'create_user_target' %}">Add New User Target</a>
    </div>
  </div>

  <hr class="hr col-12"/>

  <div class="row gy-4">
    <div class="col-12">
      <div>
        <form class="row" method="post">
          {% csrf_token %}
          <div class="col-12 col-lg-4">
              {% include 'partials/form.html' with form=form %}
          </div>
          <input type="submit" value="Apply" class="btn btn-primary col-12 col-lg-1">
        </form>
      </div>
    </div>

    <div class="col-12">
      {% if targets %}
          {% include 'partials/target_table.html' with targets=targets %}
          {% include 'partials/pagination.html'  with page_obj=targets %}
        {% else %}
          {% include 'partials/dashboard/no_content.html' with content_type_plural='targets'%}
        {% endif %}
    </div>
  </div>
{% endblock %}
