{% extends "page.html" %}

<!-- Title -->
{% block title %}Savings Accounts{% endblock %}

<!-- Content -->
{% block content %}
<h1>Savings Accounts</h1>
<head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"> </script>
  
    <script>
      function viewProjection() {
        // Retrieves the user selection for the station and the day of the week
        const account = document.getElementById('accountDropdown').value;
        const projectionTimescale = document.getElementById('projectionTimescaleDropdown').value;
  
        var crowdingInfo; // contains the API data containing the crowding information of the given station for a given day of week
  
        $(document).ready(() => {
          // retrives the crowding information as a JSON object via the TFL crowding API
          $.ajax({
            "url" : "https://api.tfl.gov.uk/crowding/" + stationID + "/" + dayOfWeek,
            "type" : "GET",
            "data" : {"app_key" : "b6cf7f135eaa428c9d340b33b19a20be", "Cache-Control" : "no-cache"},
            "dataType" : "JSON"
          })
          .done((data) => {
            crowdingInfo = data;
  
            var crowdingPercentages = [];
            var timeBands = [];
  
            // stores the time bands and crowding in seperate arrays for use in the bar chart
            crowdingInfo.timeBands.forEach(timeBand => {
              crowdingPercentages.push(timeBand.percentageOfBaseLine * 100);
              timeBands.push(timeBand.timeBand);
            });
            setChart(crowdingPercentages, timeBands)
            setAmPmPeakTimes(crowdingInfo)
            setTable(crowdingInfo)
          })
        });
      }
  
      function setChart(values, timeBands) {
        //finds the canvas HTML element
        const projectionChart = document.getElementById('projectionChart');
  
        if (crowdingChart.attributes.length > 1) { // if there is a chart in the canvas.
          Chart.getChart(crowdingChart).destroy(); // clear the canvas
        }
        // creates the bar chart showing crowding percentages at the selected station over the course of the selected day of week
        new Chart(crowdingChart, {
          type: 'bar',
          data: {
            labels: timeBands,
            datasets: [{
              label: 'Crowding',
              data: crowdingPercentages,
              borderWidth: 1,
              backgroundColor: '#000000' //black
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
                max:100
              }
            }
          }
        });
      }
    </script>
  
  </head>
  
  <body>
    <div class = "row justify-content-start align-items-end g-2 mt-2">
      <div class = "col-4 align-bottom">
        <!--- The two dropdown lists to allow the user to select the station and the day of the week --->
        <label>Account:</label>
        <select class = "form-select form-select" name = "accountDropdown" id = "accountDropdown" autocomplete="off">
          {% for account in bank_accounts %}
            <option class="mx-3" value = '{{account.name}}' selected="
              {% if account == bank_accounts|first %}
                selected
              {% else %}
              {% endif %}"
            >{{account.name.capitalize}}</option>
          {% endfor %}
        </select>
      </div>
      <div class = "col-2 align-bottom">
        <label>Projection Timescale:</label>
        <select class = "form-select form-select" name = "projectionTimescaleDropdown" id = "projectionTimescaleDropdown" autocomplete="off">
          <option value = "1month">1 Month</option>
          <option value = "6month">6 Months</option>
          <option value = "1year" selected="selected">1 Year</option>
          <option value = "5year">5 Years</option>
        </select>
      </div>
      <div class = "col-sm-1 mb-0">
        <br>
        <button type="submit" class="btn btn-primary" onclick="viewProjection()">Apply</button>
      </div>
    </div>

    <div class="row g-1 g-md-2 mt-2">
      <div class = "col-8">
        <!--- The bar chart showing the crowding percentage in the selected station over the course of the selected day --->
        <div class="card text-bg-primary">
          <div class="card-body pb-0 px-0 mx-3">
            <h4 class="card-title mb-3" id="projectionChartTitle">Projection</h5>
            <canvas id = "projectionChart"></canvas>
           </div>
        </div>
      </div>
      <div class = "col-4">
        <div class="card mx-0 text-bg-primary">
          <div class="card-body pb-0 px-0 mx-3">
            <h4 class="card-title mb-3" id="projectionChartTitle">Projection</h5>
            <p><strong>Projected Income: </strong><span id = "projected_income"></span></p>
            <p><strong>Projected Total: </strong><span id = "projected_total"></span></p>
          </div>
        </div>
      </div>
    </div>
</body>
{% endblock %}