{% extends "page.html" %}

<!-- Title -->
{% block title %}View Accounts{% endblock %}

<!-- Content -->
{% block content %}
  <div class="row gy-3 justify-content-center text-center">
    <h1 class="col-12">View Accounts</h1>

    <div class="col-12">
      <a class="btn btn-primary mb-3" href="{% url 'add_monetary_account' %}">Add New</a>
    </div>

    {% if accounts or bank_accounts or pot_accounts %}
      {% if bank_accounts %}
        <h3 class="col-12">Bank Accounts</h3>
        {% for account in bank_accounts %}
          {% include 'partials/card_account.html' with account=account%}
        {% endfor %}
      {% endif %}

      {% if bank_accounts and pot_accounts %}
        <div class="col-12"></div>
        <hr class="hr col-12"/>
      {% endif %}

      {% if pot_accounts %}
        <h3 class="col-12">Pot Accounts</h3>
        {% for account in pot_accounts %}
          {% include 'partials/card_account.html' with account=account%}
        {% endfor %}
      {% endif %}

      {% if bank_accounts and pot_accounts %}
        <div class="col-12"></div>
        <hr class="hr col-12"/>
      {% endif %}

      {% if accounts %}
        <h3 class="col-12">Merchant Accounts</h3>
        {% for account in accounts %}
          {% include 'partials/card_account.html' with account=account%}
        {% endfor %}
        <div class="col-12 d-flex justify-content-center">
          {% include 'partials/pagination.html'  with page_obj=accounts %}
        </div>
      {% endif %}
    {% else %}
      <div class="col-12">
        <div class="card bg-warning mb-3 text-center pt-3 pb-1">
          <p>You currently do not have any accounts</p>
        </div>
      </div>
    {% endif %}
    </div>
{% endblock %}
