{% extends "page.html" %}
{% load maths %}
{% load data_structures %}

<!-- Title -->
{% block title %}Savings Accounts{% endblock %}

<!-- Content -->
{% block content %}
  <h1>Savings Accounts</h1>
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'javascript/savings_accounts.js' %}"></script>
  </head>
  
  <body onload="getUserChoices()">
    <div class="container mt-3"></div>
    {% if bank_accounts %}
      <div class = "row justify-content-start align-items-end g-2">
        <div class = "col-3 align-bottom">
          <label>Account:</label>
          <select class = "form-select form-select" name = "accountDropdown" id = "accountDropdown" autocomplete="off">
            {% for id, name in bank_accounts.items %}
              <option class="mx-3" value={{id|list}}>{{name}}</option>
            {% endfor %}
            <option class="mx-3" value="{{bank_accounts|getKeyList}}">-- SHOW ALL --</option>
          </select>
        </div>
        <div class = "col-2 align-bottom">
          <label>Projection Timescale:</label>
          <select class = "form-select form-select" name = "projectionTimescaleDropdown" id = "projectionTimescaleDropdown" autocomplete="off">
            {% for time_int, time_str in timescale_dict.items %}
              <option value = "{{time_int}}">{{time_str}}</option>
            {% endfor %}
          </select>
        </div>
        <div class = "col-2 align-bottom">
          <label>Currency:</label>
          <select class = "form-select form-select" name="currencyDropdown" id="currencyDropdown" autocomplete="off">
            <option value="DEFAULT" selected="selected">Default</option>
            {% for currency in conversion_to_main_currency.keys %}
              <option value = "{{currency}}">{{currency}}</option>
            {% endfor %}
          </select>
        </div>
        <div class = "col-sm-1 mb-0">
          <br>
          <button type="submit" class="btn btn-primary" onclick="getUserChoices()">Apply</button>
        </div>
      </div>

      <div class="row g-4 mt-2">
        <div class = "col-9">
          <div class="card text-bg-primary">
            <div class="card-body px-0 mx-3">
              <h4 class="card-title mb-3" id="projectionChartTitle">Projection</h5>
              {% include "partials/dashboard/account_projection_graph.html" %}
            </div>
          </div>
        </div>
        <div class = "col-3">
          <div class="card mx-0 text-bg-primary">
            <div class="card-body pb-0 px-0 mx-3">
              <h5 class="card-title mb-3" id="projectionChartTitle">Projected Figures</h5>
              <p class="pb-0 mb-0"><strong>Income: </strong><span id = "projected_income_currency">CUR</span> <span id = "projected_income_num">0.00</span></p>
              <p class="pt-0 mt-0"><strong>Total: </strong><span id = "projected_total_currency">CUR</span> <span id = "projected_total_num">0.00</span></p>
            </div>
          </div>
          {% if conversion_to_main_currency|length > 1 %}
            <div class="card mt-2 mx-0 text-bg-primary">
              <div class="card-body pb-0 px-0 mx-3">
                <h5 class="card-title mb-3" id="projectionChartTitle">Conversion Rates</h5>
                {% for currency, conversion in conversion_to_main_currency.items %}
                  {% if currency.lower != main_currency.lower %}
                    <p class="pb-0 mb-0"><strong>{{currency}}</strong> 1.00 = <strong>{{main_currency}}</strong> {{conversion|sig_figs:6}}</p>
                    <p class="pt-0 mt-0"><strong>{{main_currency}}</strong> 1.00 = <strong>{{currency}}</strong> {{1|divide:conversion|sig_figs:6}}</p>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% else %}
      {% include "partials/dashboard/no_content.html" with content_type_plural="bank accounts with interest" %}
    {% endif %}
    </div>
  </body>
{% endblock %}