<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">{{ account.name }}</h5>
            <h6 class="card-subtitle text-muted">{{ account.balance }}</h6>
        </div>
        <div class="card-body">
            <p class="card-text">{{ account.description }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'individual_account_redirect' pk=account.id %}" class="btn btn-primary">View</a> <a style="float:center" href="#" class="btn btn-danger" onclick="showAlert('account')">Delete</a>
        </div>
    </div>
</div>
