{% load targets %}
<div class="container container-scrollableX p-0 mb-2">
<table class="table  table-bordered table-striped text-center" style="width:100%">
  <thead class = "table-primary">
    <tr class="text-center">
        <th scope="col">Target ID</th>
        <th scope="col">Income/Expense</th>
        <th scope="col">Timespan</th>
        <th scope="col">Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">Target Type</th>
        <th scope="col">Applied To</th>
        <th scope="col">Progress %</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  {% for target in targets %}
    <tr class="text-center">
      <td>{{ target.id }}</td>
      <td>{{ target.target_type.title }}</td>
      <td>{{ target.timespan }}</td>
      <td>{{ target.amount }}</td>
      <td>{{ target.currency }}</td>
      <td>{{ target.getModelName }}</td>
      <td>{{ target }}</td>
      <td>{{ target|get_completeness }}</td>
      <td>
        {% url target|get_edit_url pk=target.id as edit_target %}
        {% url target|get_delete_url pk=target.id as delete_target %}
        {% include "partials/view_models/edit_and_delete_models_buttons.html" with size="xs" edit_URL=edit_target delete_URL=delete_target model_name="target"%}
      </td>
    </tr>
  {% endfor %}
</table>
</div>
