{% load targets %}
<table class="table table-bordered table-striped text-center" >
  <thead class = "table-primary">
    <tr>
        <th scope="col" style="text-align:center">Target ID</th>
        <th scope="col" style="text-align:center">Income/Expense</th>
        <th scope="col" style="text-align:center">Timespan</th>
        <th scope="col" style="text-align:center">Amount</th>
        <th scope="col" style="text-align:center">Currency</th>
        <th scope="col" style="text-align:center">Target Type</th>
        <th scope="col" style="text-align:center">Applied To</th>
        <th scope="col" style="text-align:center">Progress %</th>
    </tr>
  </thead>
  {% for target in targets %}
    <tr>
      <td>{{ target.id }}</td>
      <td>{{ target.target_type.title }}</td>
      <td>{{ target.timespan }}</td>
      <td>{{ target.amount }}</td>
      <td>{{ target.currency }}</td>
      <td>{{ target.getModelName }}</td>
      <td>{{ target }}</td>
      <td>{{ target|get_completeness }}</td>
    </tr>
  </form>
  {% endfor %}
</table>
