{% extends 'page.html' %}
{% block title %}View Targets{% endblock %}

{% block content %}
  <div class="text-center">
  <h1>Targets</h1>
    </div>

  <hr class="hr col-12"/>
    <div class="row">
      <div class="col-12">
          &nbsp;
        <table class="table  table-bordered table-striped" style="width:100%" style="text-align:center" >
          <thead class = "table-primary">
            <tr>
                <th scope="col" style="text-align:center">Target ID</th>
                <th scope="col" style="text-align:center">Transaction Type</th>
                <th scope="col" style="text-align:center">Timespan</th>
                <th scope="col" style="text-align:center">Amount</th>
                <th scope="col" style="text-align:center">Currency</th>
                <th scope="col" style="text-align:center">Target Type</th>
                <th scope="col" style="text-align:center">View More</th>
            </tr>
          </thead>
          {% for target in targets %}
            <tr style="text-align:center">
              <td>{{ target.id }}</td>
              <td>{{ target.transaction_type }}</td>
              <td>{{ target.timespan }}</td>
              <td>{{ target.amount }}</td>
              <td>{{ target.currency }}</td>
              <td>{{ target }}</td>
              <td></td>
            </tr>
          </form>
          {% endfor %}
        </table>
        {% include 'partials/pagination.html'  with page_obj=targets %}
      </div>
    </div>
{% endblock %}
