{% if transactions %}
    <h2 class="text-center mb-3 text-muted">Associated Transactions</h2>
    <div class="row">
      <div class="col-12">
        <div>
          {% if pk %}
            <form action="{% url 'filter_transaction_request_with_pk' redirect_name=redirect_name pk=pk %}" method="post">
          {% else %}
            <form action="{% url 'filter_transaction_request' redirect_name=redirect_name %}" method="post">
          {% endif %}
            {% csrf_token %}
            <div class="text-center">
              <input type = "submit" name = "sent" value = "View Sent Transactions" class= "btn btn-primary my-1">
              <input type = "submit" name = "received" value = "View Received Transactions" class= "btn btn-primary my-1">
              <input type = "submit" name = "all" value = "View Transactions" class= "btn btn-primary my-1">
            </div>
          </form>
        </div>
          &nbsp;
        <table class="table table-bordered table-striped" style="width:100%" class="text-center" >
          <thead class = "table-primary">
            <tr>
                <th scope="col" class="text-center">Transaction ID</th>
                <th scope="col" class="text-center">Transaction Name</th>
                <th scope="col" class="text-center">Value</th>
                <th scope="col"></th>
            </tr>
          </thead>
          {% for transaction in transactions %}
            <tr class="text-center">
              <td>{{ transaction.id}}</td>
              <td>{{ transaction.title.title }}</td>
              <td>{{ transaction.currency.upper }} {{ transaction.amount }} </td>
              <td> <a href="{% url 'individual_transaction' pk=transaction.id%}" class="btn btn-primary justify-content-center">View Info</a</td>
            </tr>
          {% endfor %}
        </table>
        {% include 'partials/pagination.html'  with page_obj=transactions %}
      </div>
    </div>
{% endif %}