{% extends "partials/dashboard/dashboard_card.html" %}

{% block card_title %}Projection:{% endblock %}

{% block card_content %}
    {% if bank_accounts %}
        {% include "partials/dashboard/account_projection_graph.html" %}
    {% else %}
        {% include "partials/dashboard/no_content.html" with content_type_plural="savings accounts" %}
    {% endif %}
{% endblock %}

{% block content_type_plural %}Savings Accounts{% endblock %}

{% block card_URL %}{% url 'view_savings_accounts' %}{% endblock %}

{% block action_title %}View All Savings{% endblock %}