{% load static %}
<head>
  <meta charset = "utf-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<script>

  function setChart(chartDataset, chartLabels, y_axisLabel="", x_axisLabel="", chartType="line", y_beginsAtZero=false, x_beginsAtZero=false) {
    var chartName = "{{chart_name}}";
    const ctx = document.getElementById("chart"+ chartName);
    console.log(chartName);

    if (ctx.attributes.length > 1) { // if there is a chart in the canvas.
          Chart.getChart(ctx).destroy(); // clear the canvas
    }

    Chart.defaults.color = '{{primary}} !IMPORTANT';
    if (chartType == "line"| chartType == "bar") {
      // TODO: Create set line chart method
      new Chart(ctx, {
        type: chartType,
        data: {
          labels: chartLabels,
          datasets: chartDataset
        },
        options: {
          scales: {
            y: {
              title: {
                    display: true,
                    text: y_axisLabel,
                  },
              beginAtZero: y_beginsAtZero
            },
            x: {
              title: {
                    display: true,
                    text: x_axisLabel,
                  },
              beginAtZero: x_beginsAtZero
            }
          },
          aspectRatio: 1.7
        }
      });
    }
    else if (chartType == "pie" || chartType == "doughnut") {
      // TODO: Create set pie chart method

      new Chart(ctx, {
        type: chartType,
        data: {
          labels: chartLabels,
          datasets: [{
            label: y_axisLabel,
            data: chartDataset,
            borderWidth: 1
          }]
        },
      });
    }
}
</script>

<body>
  <div class="card text-bg-light">
    <div class="card-body py-1 px-0 mx-3">
      <canvas id="chart{{chart_name}}"></canvas>
    </div>
  </div>
</body>
