{% load static %}
<div class="card text-bg-light">
    <div class="card-body">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="card-text text-muted">You have no {{content_type_plural}}.</h2>
                </div>
                <div class="col-3 me-2">
                    {% include 'partials/greggor_logo.html' with greggor_type="distraught" style="max-width: 100%;" %}
                </div>
            </div>
        </div>
    </div>
</div>