{% extends "partials/dashboard/dashboard_card.html" %}


{% block card_title %}Recent Transactions:{% endblock %}

{% block card_content %}
  {% if recent %}
    <div class="accordion" id="accordionExample">
    {% for transaction in recent %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ transaction.title }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ transaction.title }}" aria-expanded="true" aria-controls="collapse{{ transaction.title}}">
            Transaction Title: {{transaction.title}}
          </button>
        </h2>
        <div id="collapse{{ transaction.title}}" class="accordion-collapse collapse" aria-labelledby="heading{{ transaction.title }}" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><strong>Description: </strong>{{transaction.description }}</p>
            <p><strong>Category: </strong>{{transaction.category.name}}</p>
            <p><strong>Amount: </strong>{{transaction.amount}}</p>
            <p><strong>Currency: </strong>{{transaction.currency.upper}}</p>
            <p><strong>Sender Account: </strong>{{transaction.sender_account.name}}</p>
            <p><strong>Receiver Account: </strong>{{transaction.receiver_account.name}}</p>
            <p><strong>Time of Transaction: </strong>{{transaction.time_of_transaction}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  {% else %}
    {% include "partials/dashboard/no_content.html" with content_type_plural="transactions" %}
  {% endif %}
{% endblock %}}

{% block card_URL %}{% url 'view_transactions_redirect' %}{% endblock %}

{% block action_title %}View All Transactions{% endblock %}

