<div class="card text-bg-primary mb-3">
  <div class="card-body">
    <h5 class="card-title">Recent Transactions: </h5>
    <div class="accordion" id="accordionExample">
      {% for transaction in recent %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ transaction.title }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ transaction.title }}" aria-expanded="true" aria-controls="collapse{{ transaction.title}}">
              {{transaction.title}}
            </button>
          </h2>
          <div id="collapse{{ transaction.title}}" class="accordion-collapse collapse" aria-labelledby="heading{{ transaction.title }}" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p><strong>Description: </strong>{{transaction.description }}</p>
              <p><strong>Category: </strong>{{transaction.category.name.capitalize}}</p>
              <p><strong>Amount: </strong>{{transaction.amount}}</p>
              <p><strong>Currency: </strong>{{transaction.currency.upper}}</p>
              <p><strong>Sender Account: </strong>{{transaction.sender_account.name.capitalize}}</p>
              <p><strong>Reciver Account: </strong>{{transaction.receiver_account.name.capitalize}}</p>
              <p><strong>Time of Transaction: </strong>{{transaction.time_of_transaction}}</p>
              <form action="{%  url 'edit_transaction' transaction.id %}" method="post">
                {% csrf_token %}
                  <button class="btn btn-primary">Edit</button>
              </form>
              &nbsp;
              <form action="{%  url 'delete_transaction' transaction.id %}" method="post">
                {% csrf_token %}
                  <button class="btn btn-primary">Delete</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
