<table class="table table-bordered table-striped text-center">
    <thead class = "table-primary">
    <tr>
        <th scope="col" class="col-1">Questions</th>
        <th scope="col" class="col">Correct Questions</th>
        <th scope="col" class="col">Percentage Correct</th>
        <th scope="col" class="col">Date Taken</th>
        <th scope="col" class="col-auto"></th>
    </tr>
    </thead>
    {% for quiz_score in quiz_scores %}
    <tr class="text-center">
        <td>{{ quiz_score.total_questions }}</td>
        <td>{{ quiz_score.correct_questions }}</td>
        <td>{{ quiz_score.get_score }}</td>
        <td>{{ quiz_score.time_of_submission }}</td>
        <td><a href="{% url 'quiz_score' pk=quiz_score.id %}" class="btn btn-sm btn-outline-primary">View Results</a></td>
    </tr>
    </form>
    {% endfor %}
</table>

{% include 'partials/pagination.html'  with page_obj=quiz_scores %}