{% load widget_tweaks %}

{% for field in form %}
    <div class="col-10 col-md-5">
        <div class="card border-primary">
            <div class="card-header">
                <h4>{{field.label_tag}}</h4>
            </div>
            <div class="card-body">
                <div class="form-check text-start">
                    {{field}}
                </div>
            </div>

            {% if field.errors %}
                <div class="card-footer text-danger">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}