<div class="col-12 col-md-6">
    <div class="card border-primary">
        <div class="card-header">
            <h4>{{quiz_question.question}}</h4>
        </div>
        <div class="card-body">
            {% for question in quiz_question.get_potential_answers %}
                <div class="form-check text-start">
                    <input class="form-check-input" type="radio" name="{{ quiz_question.id }}" id="{{ quiz_question }}_{{ question }}" value="{{question}}" checked>
                    <label class="form-check-label" for="{{ quiz_question }}_{{ question }}">
                    {{question}}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>